.initial .middle {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  line-height: 100px;
  text-align: center;
  font-size: 60px;
  width: 100%;
}

.progress-bar {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 6px;
  background: #ff5533;
}
