<div class="auth-page" data-template="account/login">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Login</h1>
        <p class="text-xs-center">
          <a data-href="signup">Need an account?</a>
        </p>
        <ul class="error-messages" data-name="errors" data-list='{"prop": "errors"}'>
          <li>{key} <span data-bind="val:commaList:t"></span></li>
        </ul>
        <form data-act="form">
          <fieldset class="form-group"><input class="form-control form-control-lg" type="text" name="email" placeholder="Email" /></fieldset>
          <fieldset class="form-group"><input class="form-control form-control-lg" type="password" name="password" placeholder="Password" /></fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
